.home-title {
    font-family: Arial, sans-serif;
    margin: 0;
    color: hsl(0, 0%, 20%);
}

.title-container{
    text-align: center;
}

.home-date{
    background-color: #0080ff;
    padding: 10px;
    top: 50%;
    left: 50%;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.home-button{
    background-color: #0080ff;
    padding: 11px;
    top: 50%;
    left: 50%;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
}

.home-container{
    text-align: center;
}

