
.searchbutton{
    background-color: #af4141;
    padding: 11px;
    top: 50%;
    left: 50%;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
}
.searchbar{
    padding: 11px;
    top: 50%;
    left: 50%;
    font-family: Arial, sans-serif;
    border-radius: 10px;
}